@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome Personal Management platform</h1>
        <p class="lead"></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                This is a platform where you manage all of your employees salaries and their deductions that must be substracted form the salary.
            </p>
        </section>
    </div>
</main>